/* global variables */
:root {
  --primary-background: #DADED4;
  --secondary-background: #A3BCB6;
  --primary-foreground: #3C403D;
  --primary-accent: #39603D;
}

* {
  background-color: var(--primary-background);
}
