.template {
  height: 100vh;
}

a[style] {
  color: var(--primary-accent) !important;
}
span[style] {
  color: var(--primary-accent) !important;
  background-color: var(--primary-background) !important;
}
div[style] {
  border-color: var(--primary-accent) !important;
}
