.template {
  height: 100vh;
}

a[style] {
  color: var(--primary-accent)!important;
}
span[style] {
  color: var(--primary-accent)!important;
}
div[style] {
  border-color: var(--primary-accent)!important;
}
